dask==2025.2.0
geopandas==1.0.1
Pillow==11.1.0
planetary_computer==1.0.0
pystac==1.12.2
pystac_client==0.8.6
Requests==2.32.3
rioxarray==0.18.2
stac_geoparquet==0.6.0
stackstac==0.5.1
shapely==2.0.7
numpy==2.2.4
tqdm==4.67.1
rasterio==1.4.3